<div class="container" id="main-container">
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="titleId"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h4>Lista de productos</h4>
    <button class="m-3 btn btn-sm btn-danger" (click)="onCreate()">
      Agregar
    </button>

    <a class="nav-link" (click)="onCreate()">Add User <span class="sr-only">(current)</span></a>


    <table >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>País</th>
        </tr>
      </thead>
      <tbody >
        <tr  *ngFor="let tutorial of products; let i = index">
          <td>{{ tutorial.title  }}</td>
          <td>{{ tutorial.price }}</td>
          <td>{{ tutorial.description }}</td>
        </tr>
      </tbody>
    </table>

    <select [(ngModel)]="cantidad" (change)="onSeleccionChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>

  </select>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>
  </div>




  <div class="col-md-6">
    <app-product-add></app-product-add>
  </div>



</div>
</div>
